<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    forceCoversAnnotation="true"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
>
    <testsuites>
        <testsuite name="Unit tests">
            <directory suffix="Test.php">tests/unit</directory>
        </testsuite>
        <testsuite name="Integration tests">
            <directory suffix="Test.php">tests/integration</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>

    <php>
        <ini name="zend.assertions" value="1" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="verbose=0&amp;max[direct]=0&amp;quiet[]=indirect&amp;quiet[]=other" />
    </php>
</phpunit>
