name: Main

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        php:
          - '7.2'
          - '7.3'
          - '7.4'
          - '8.0'
          - '8.1'
          - '8.2'
        deps:
          - highest
          - lowest
      fail-fast: true
    name: PHP ${{ matrix.php }} / ${{ matrix.deps }}
    steps:
      - uses: actions/checkout@v5
      - uses: shivammathur/setup-php@d30ad8b1843ace22e6698ab99bbafaa747b6bd0d
        with:
          php-version: ${{ matrix.php }}
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.composer/cache
          key: ${{ runner.os }}-composer-${{ hashFiles('composer.json') }}
          restore-keys: ${{ runner.os }}-composer-
      - name: Enable assertions
        run: echo 'zend.assertions=1' | sudo tee /etc/php/${{ matrix.php }}/cli/conf.d/assert.ini >/dev/null
      - name: Validate composer.json
        run: composer validate --strict
      - name: Install dependencies
        run: |
          sudo phpdismod xdebug

          if [ "${{ matrix.deps }}" = "lowest" ]; then
            composer update --prefer-lowest --prefer-stable
          else
            composer update
          fi
      - name: PHPUnit
        run: |
          vendor/bin/simple-phpunit --version | head -n1 >&2

          echo "::group::Tests (w/ source composer/composer)"
          vendor/bin/simple-phpunit --verbose
          echo "::endgroup::"

          echo "::group::Tests (w/ phar composer/composer)"
          COMPOSER_AUDIT_TEST_COMPOSER_BINARY=$(which composer) vendor/bin/simple-phpunit --verbose
          echo "::endgroup::"
